services:
  hagmi:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    # Sử dụng lệnh timeout để tự kết thúc sau 30 phút (1800 giây)
    command: ["sh", "-c", "timeout 1800s uv run python app.py"]
    volumes:
      - ./states:/app/states
      - ./gemini_logs:/app/gemini_logs
      - ./config.yaml:/app/config.yaml
    ports:
      - 8000:8000
    deploy:
      resources:
        limits:
          cpus: '2.0'        # Sử dụng tối đa 2 CPU
          memory: 10700M    # Giới hạn 10.7GB RAM (Chừa lại 1GB cho hệ thống)
